.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px; /* Add padding to create space between content and header/footer */
}

.button-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sadwd {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust the distance of the line from the navbar */
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the line as needed */
    background-color: #ccc; /* Adjust the color of the line */
    /* You can also adjust other properties like margin, padding, etc. */
  }

  .custome-usa-hero{font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;font-size:1.06rem;line-height:1.5;background-image:url(./assets/Tax_Return6.png);background-position:center;background-size:cover;color:#fff}



.Add1099 {
    transform: translate(75px, -17px);
}

.AddW2 {
    transform: translate(7px, -17px);
}

.proceed {
    transform: translate(-9px);
}

.deleteButton {
    
    background-color:rgba(212, 36, 36, 0.911)
}

.deleteButton:hover {
    background-color: rgba(236, 71, 71, 0.911)
}